# WORKNODE CONFIGURATION

[system]
nodeid=THISNODEID
logfile=/var/log/dhc4/cleaner.log
workers=1
#debug level CRITICAL ERROR  WARNING NOTICE  INFO DEBUG default
loglevel=DEBUG
#slowdown 1op sec for debug
debugdelay=true

#this section deals with internal http server, used for various stats and monitoring
[http]
host=127.0.0.1
port=7054

[zmq]
#this target uris comma delimited list no spaces
#first server in list will be prefered connection
targets=MYTARGETS
#how many messages to send before retrying prefered server
#prefered server is first in the list, try 1000 at the minimum
rebalance=1000
#this is timeout duration i.e. 1s,1ms,etc
timeout=2500ms
#if retries set at 0 = infinite retries will never exit
retries=0
#high watermark default 1000
hwm=1000

[mongo]
#list of servers in target replica (at least one) along with password connection strings
mongos="192.168.42.120:27017,192.168.42.100:27017,192.168.42.110:27017,

#unlock records older than sec
ttl=300



