# WORKNODE CONFIGURATION

[system]
nodeid=THISNODEID
location=THISLOCATION
logfile=/var/log/dhc4/dispatch.log
workers=20
#debug level CRITICAL ERROR  WARNING NOTICE  INFO DEBUG default
loglevel=debug
#slowdown 1op sec for debug
debugdelay=false

#this section deals with internal http server, used for various stats and monitoring
[http]
host=127.0.0.1
port=7074

[zmq]
#this comma delimited list is where node, judge and history servers live
nodeservers=tcp://127.0.0.1:6555
judgeservers=tcp://192.168.82.100:6655
#MYJUDGESERVERS
historyservers=tcp://192.168.82.100:6755
#MYHISTORYSERVERS

#this is timeout duration i.e. 1s,1ms,etc
timeout=30000ms
#how many messages to send before retrying random server only works with targets > 1
rebalance=1000
#if retries set at 0 = infinite number of retries will kill your server with bad data
retries=1

[mongo]
#list of servers in target replica (at least one) along with password connection strings
mongos="192.168.82.220:27017,192.168.82.200:27017,192.168.82.210:27017,







